# Environment
/.env

## Development
.idea

## Deployment TODO: check
/.user.ini
/www/api/docs/

## Runtime
/composer.phar
/vendor/
/thinkphp/
*.log
/s-show.fmnii.e13.cc/cgi-bin/
/s-show.fmnii.e13.cc/document_errors/
/s-show.fmnii.e13.cc/logs/
/s-show.fmnii.e13.cc/private/
/s-show.fmnii.e13.cc/public_shtml/
/s-show.fmnii.e13.cc/stats/

# Direct file transfer
/s-show.fmnii.e13.cc/public_html/prototype/
/s-show.fmnii.e13.cc/public_html/api/docs/
