# Environment
/.env
*.log

## Development
.idea
/phpDocumentor.phar
/runtime/docs/

## Runtime
/composer.phar
/thinkphp/
/vendor/

# Direct file transfer
/s-show.fmnii.e13.cc/public_html/postman/

### TODO: check
/.user.ini
