<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>S Show Front-end</title>
    <script src="https://vuejs.org/js/vue.js"></script>

    <!-- TODO: for development -->
    <!--<script src="https://unpkg.com/vue"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->

    <!-- TODO: for production -->
    <!--<script src="https://vuejs.org/js/vue.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js" integrity="sha256-GdIrqezgbUYuDyvVTXY2aB7O82eUby3pbR9Jb/e9ve0=" crossorigin="anonymous"></script>-->
</head>

<body>
<div id="app">{{message}}</div>
<div id="app-2"><span v-bind:title="message">Data is here</span></div>
<div id="app-3"><p v-if="seen">Now you see me</p></div>
<div id="app-4">
    <ol>
        <li v-for="todo in todo_list">{{todo.text}}</li>
    </ol>
</div>
<div id="app-6">
    <label for="debug-input">{{message}}</label>:
    <input type="text" id="debug-input" v-model="message"/>
</div>
<div id="app-7">
    <ol>
        <todo-item
                v-for="item in grocery_list"
                v-bind:todo="item"
                v-bind:key="item.id"
        >
        </todo-item>
    </ol>
</div>

<script>
    <!--
    var
            app = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue! ABC~'
                }
            }),
            app2 = new Vue({
                el: "#app-2",
                data: {
                    message: 'Page loaded at ' + new Date().toLocaleString()
                }
            }),
            app3 = new Vue({
                el: '#app-3',
                data: {
                    seen: true
                }
            }),
            app4 = new Vue({
                el: '#app-4',
                data: {
                    todo_list: [
                        {text: 'string 1'},
                        {text: 'string 2'},
                        {text: 'string 3'}
                    ]
                }
            }),
            app6 = new Vue({
                el: '#app-6',
                data: {
                    message: 'Hello Vue?'
                }
            }),
            app7 = new Vue({
                el: '#app-7',
                data: {
                    grocery_list: [
                        {id: 0, text: 'text 1'},
                        {id: 1, text: 'text 2'},
                        {id: 2, text: 'text 3'}
                    ]
                }
            });

    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{todo.text}}</li>'
    });
    // TODO: This is a todo item
    //-->
</script>
</body>
</html>
